.table{
    font-family: 'Helvetica';
    font-style: normal;
    /* font-size: 0.75rem !important; */
}
.menu-btn{
    outline: none;
    border: 1px solid #F04832 !important;
    border-radius: 2rem !important;

    height: 2rem !important;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem !important;
    margin: 0px 0px;
    padding-left: 0.25rem !important   ;

    text-transform: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.account-btn{
    outline: none;
    border: 1px solid #F04832 !important;
    border-radius: 2rem !important;

    height: 2.5rem !important;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem !important;
    margin: 0px 0px;
    padding-left: 0.25rem !important   ;

    text-transform: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.home{
    background-image: url('components/images/home_bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.padding-2{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.home-menu{
    height: 10rem;
    background-color: white;
    border-radius: 2rem;
    /* padding: 1rem; */
    box-shadow: 0px 4px 50px rgba(189, 209, 254, 0.3);
}
.login-bg-img{
    background-image: url('components/images/cashier.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.add-text-field{
    outline: none;
    border: 0px;
    height: 3rem;
    width: 32rem;
    border-radius: 1rem;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem;
    margin: 0px 0px;
    padding-left: 1rem;
    margin-top: 1rem;
}
.login-text-field{
    outline: none;
    border: 0px;
    height: 3rem;
    width: 32rem;
    border-radius: 1rem;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem;
    margin: 0px 0px;
    padding-left: 1rem;
}
.login-btn{
    outline: none;
    border: 0px;
    border-radius: 1rem;
    height: 3rem;
    width: 12rem;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem;
    margin: 0px 0px;
    color: #FFFFFF;

}
.drawer-menu{
    text-decoration: none;
}
.primary{
    background-color: #F04832;
}
.secondary{
    background-color: #EFF5FC;
}
.text-primary{
    color: #F04832;
}
.text-secondary{
    color: #2F4165;
}

.flex-container{
    display: flex !important;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}
.flex-align{
    align-items:center;
}
.gap-1{
    gap:1rem;
}
.gap-2{
    gap:2rem;
}
.item{
    width: fit-content;
    height: fit-content;
}
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column{
    flex-direction: column !important;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Helvetica';
    font-style: normal;
    margin: 0px 0px;
}
p{
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 1rem;
    margin: 0px 0px;
}
.bold{
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
.caps-word::first-letter{
    text-transform: capitalize;
}
.border-round{
    border-radius: 1rem;
}
.outline-none{
    outline: none !important;
    border: 0px !important;
}
.shadow{
    box-shadow: 0px 4px 50px rgba(189, 209, 254, 0.3) !important;
}